<div class="sheet">
    <br />
    <div class="sheet" style="width:500px;max-width:80%">
      <div class="seperator"></div>
      <div class="title" style="text-align:center">
        <img src="./../assets/App icons/PRN token.png" style="width:150px">
      </div>
      <div class="seperator"></div>
      <div style="padding:10px;text-align:center">
        <span>PRN tokens represent ownership of the PERRINN network.</span>
        <br />
        <span>{{UI.PERRINNAdminLastMessageObj?.statistics?.emailsContributorsAuth?.length}} members own {{UI.formatSharesToPRNCurrency(currencySelected,UI.PERRINNAdminLastMessageObj?.statistics?.wallet?.shareBalance)}}.</span>
        <br />
        <span>You can follow the impact of your investment live on PERRINN.com</span>
        <div class="buttonWhite" style="margin:10px auto;width:150px;font-size:11px" (click)="router.navigate(['directory'])">PRN holders directory</div>
      </div>
      <div style="background-color:black;padding:10px;text-align:center">
        <span>Your PRN amount grows at a rate of {{UI.appSettingsCosts?.interestRateYear | percent : "0.0"}} a year</span>
        <div style="height:200px;margin-top:10px"><ag-charts-angular [options]="chartOptions"></ag-charts-angular></div>
      </div>
      <div style="padding:10px;text-align:center">
        <span class="material-symbols-outlined" style="font-size:30px">encrypted</span>
        <br />
        <span>Your tokens are stored in your wallet on PERRINN.com</span>
        <br />
        <span>Soon you will be able to sell or exchange your tokens with other members here.</span>
      </div>
      <div class="seperator"></div>
    </div>
    <br />
    <div class="sheet" style="width:500px;max-width:80%">
      <div class="seperator"></div>
      <div class="title">
        The capital raised from token sales goes towards
      </div>
      <div class="seperator"></div>
      <ul class="listLight">
        <li *ngFor="let message of currentFunds|async">
          <div *ngIf="message.payload.doc.data()?.fund?.amountGBPTarget>0&&(message.payload.doc.data()?.fund?.active||showPastFunds)" style="cursor:default;padding:10px">
            <span style="font-size:14px">{{message.payload.doc.data()?.chatSubject}}</span>
            <div style="clear:both">
              <div style="float:left;background-color:black;height:20px;width:65px;text-align:center;padding:0 5px 0 5px"></div>
              <div style="float:left;height:20px;background-color:#D85140;margin-left:-65px"
                [style.width]="(message.payload.doc.data()?.fund?.amountGBPRaised/message.payload.doc.data()?.fund?.amountGBPTarget)*65+'px'"></div>
              <div style="float:left;background-color:none;width:65px;margin-left:-65px;text-align:center;padding:0 5px 0 5px">
                {{message.payload.doc.data()?.fund?.amountGBPRaised/message.payload.doc.data()?.fund?.amountGBPTarget|percent:"1.0-0"}}
              </div>
              <div *ngIf="message.payload.doc.data()?.fund?.active" style="float:left;margin:0 5px 0 5px">{{message.payload.doc.data()?.fund?.daysLeft|number:"1.0-0"}} days left</div>
              <div *ngIf="!message.payload.doc.data()?.fund?.active" style="float:left;margin:0 5px 0 5px">{{-message.payload.doc.data()?.fund?.daysLeft|number:"1.0-0"}} days ago</div>
              <div style="float:left;margin:0 5px 0 5px">{{ message.payload.doc.data()?.fund?.description }},</div>
              <div style="float:left;margin:0 5px 0 5px">target: {{UI.formatSharesToCurrency(null,message.payload.doc.data()?.fund?.amountGBPTarget*UI.appSettingsPayment.currencyList["gbp"].toCOIN)}} /</div>
              <div style="float:left">raised: {{UI.formatSharesToCurrency(null,message.payload.doc.data()?.fund?.amountGBPRaised*UI.appSettingsPayment.currencyList["gbp"].toCOIN)}}</div>
            </div>
          </div>
        </li>
      </ul>
    <div class="buttonBlack" *ngIf="!showPastFunds" (click)="showPastFunds=!showPastFunds">Show past funds</div>
    <div class="seperator"></div>
    </div>
    <br />
    <div *ngIf="UI.currentUser" class="sheet" style="width:500px;max-width:80%">
      <div class="seperator"></div>
      <div class="title">
        Which currency are you using?
      </div>
      <div style="padding:10px">
        <ul class="listLight">
          <li class="buttonBlack"
            *ngFor="let currency of objectToArray(UI.appSettingsPayment.currencyList)"
            (click)="currencySelected = currency[0]; refreshAmountCharge()"
            style="float:left;width:125px;margin:5px"
            [style.border-color]="
              currencySelected == currency[0] ? 'white' : 'black'
            "
          >
            {{ currency[1].designation }}
          </li>
        </ul>
      </div>
      <div class="seperator"></div>
    </div>
    <br />
    <div *ngIf="UI.currentUser" class="sheet" style="width:500px;max-width:80%">
      <div class="seperator"></div>
      <div class="title">
        How much PRN would you like to buy?
      </div>
      <div style="padding:10px">
        <ul class="listLight">
          <li class="buttonBlack"
            *ngFor="let credit of creditList; let index = index"
            (click)="creditSelected = index; refreshAmountCharge()"
            style="float:left;width:75px;margin:5px"
            [style.border-color]="creditSelected == index ? 'white' : 'black'">
          {{UI.formatSharesToCurrency(currencySelected,credit*UI.appSettingsPayment.currencyList[currencySelected].toCOIN)}}
          </li>
        </ul>
        <span *ngIf="creditSelected!=undefined&&currencySelected!=undefined">You will pay {{UI.formatSharesToCurrency(currencySelected,creditList[creditSelected]*UI.appSettingsPayment.currencyList[currencySelected].toCOIN)}} and recieve {{UI.formatSharesToPRNCurrency(currencySelected,creditList[creditSelected]*UI.appSettingsPayment.currencyList[currencySelected].toCOIN)}}.</span>
      </div>
      <div class="seperator"></div>
    </div>
    <br />
    <div *ngIf="UI.currentUser"
      class="module form-module"
      style="width:500px;max-width:80%;border-style:solid"
    >
      <div class="title">
        Credit or debit card
      </div>
      <div class="form" style="background-color:#ddd">
        <form (ngSubmit)="createStripeToken()" class="checkout">
          <div id="form-field">
            <div id="card-info" #cardElement></div>
            <br />
            <button
              *ngIf="
                !processing &&
                creditSelected != undefined &&
                currencySelected != undefined
              "
              id="submit-button"
              type="submit"
            >
              Pay
              {{
                UI.formatSharesToCurrency(
                  currencySelected,
                  (amountCharge / 100) *
                    UI.appSettingsPayment.currencyList[currencySelected].toCOIN
                )
              }}
            </button>
            <br />
            <mat-error id="card-errors" role="alert" *ngIf="stripeMessage" style="color:#333">
              &nbsp;{{ stripeMessage }}
            </mat-error>
          </div>
          <div style="float:right">
            <img src="./../assets/App icons/poweredByStripe2.png" style="width:175px"/>
          </div>
        </form>
      </div>
    </div>
    <br />
    <div class="seperator" style="width:100%;margin:0px"></div>
</div>